body {background-color: light grey;}

h1 {color: green; font:elephant;text-align:center; margin-bottom:1px;}

h4 {color:maroon; font:elephant; text-align:center; margin-top:1px;}

ul{ list-style-type:none;}

.img {height: 35px; width: 35px;}

.pic {border:5px solid maroon;}

#main { text-indent:25px; margin:5px; margin-bottom:16px; line-height:2em; font-size: 16px;}

#heading { background-color: lightsteelblue;}

#edu {line-height:2em; list-style-type: number; font-size: 16px;}

#res {line-height:2em; list-style-type: number; font-size: 16px;}

.red text{color:red;}
